doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  // Meta, title, CSS, favicons, etc.
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title  Areatak Reconciliation Solution | USA
  // Bootstrap
  link(href='/public/vendors/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
  // Font Awesome
  link(href='/public/vendors/font-awesome/css/font-awesome.min.css' rel='stylesheet')
  // NProgress
  link(href='/public/vendors/nprogress/nprogress.css' rel='stylesheet')
  // iCheck
  link(href='/public/vendors/iCheck/skins/flat/green.css' rel='stylesheet')
  // bootstrap-progressbar
  link(href='/public/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' rel='stylesheet')
  // JQVMap
  link(href='/public/vendors/jqvmap/dist/jqvmap.min.css' rel='stylesheet')
  // bootstrap-daterangepicker
  link(href='/public/vendors/bootstrap-daterangepicker/daterangepicker.css' rel='stylesheet')
  // Custom Theme Style
  link(href='/public/build/css/custom.min.css' rel='stylesheet')

  link(href='/public/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' rel='stylesheet')
  link(href='/public/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' rel='stylesheet')
  link(href='/public/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' rel='stylesheet')
  link(href='/public/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' rel='stylesheet')
  link(href='/public/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' rel='stylesheet')


.container.body
  .main_container
    .col-md-3.left_col

        
   
          
    // top navigation
    .top_nav
      .nav_menu
        .page-title
          .title_left
            h2
              |   Telecom CDR [Call Detail Record] Reconciliation 
    // /top navigation
    // page content
    .right_col(role='main')
      // top tiles
      .row.tile_count
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count
          span.count_top
            i.fa.fa-user
            |  Total Calls
          .count #{totalUsaCalls}
          span.count_bottom
            i.green 4% 
            |  From last Week
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count
          span.count_top
            i.fa.fa-user
            |  Total Send
          .count #{totalUsaCallsStartAccepted}
          span.count_bottom
            i.green
              i.fa.fa-sort-asc
              | 3%
            |  From last Week
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count
          span.count_top
            i.fa.fa-user
            |  Total Receive
          .count #{totalIndiaCallsStartAccepted}
          span.count_bottom
            i.green
              i.fa.fa-sort-asc
              | 34%
            |  From last Week
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count
          span.count_top
            i.fa.fa-user
            |  Total Successful Call
          .count #{totalUsaCallsStartAccepted}
          span.count_bottom
            i.red
              i.fa.fa-sort-desc
              | 12%
            |  From last Week
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count
          span.count_top
            i.fa.fa-user
            |  Total Calls Started
          .count #{totalUsaCallsStarted}
          span.count_bottom
            i.green
              i.fa.fa-sort-asc
              | 34%
            |  From last Week
        .col-md-2.col-sm-4.col-xs-6.tile_stats_count
          span.count_top
            i.fa.fa-clock-o
            |  AVG Duration
          .count  #{avgDuration}
          span.count_bottom
            i.green
              i.fa.fa-sort-asc
              | 34%
            |  From last Week
      // /top tiles
      .row
        .col-md-12.col-sm-12.col-xs-12
          .dashboard_graph
            .row.x_title
              .col-md-6
                h3
                  | Network Activities 
                  small USA Branch
              .col-md-6
                #reportrange.pull-right(style='background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc')
                  i.glyphicon.glyphicon-calendar.fa.fa-calendar
                  span December 30, 2020 - January 28, 2020
                  b.caret
            .col-md-9.col-sm-9.col-xs-12
              #chart_plot_01.demo-placeholder
            .col-md-3.col-sm-3.col-xs-12.bg-white
              .x_title
                h2   Performance
                .clearfix
              .col-md-12.col-sm-12.col-xs-6
                div
                  p  Receive
                  div
                    .progress.progress_sm(style='width: 76%;')
                      .progress-bar.bg-green(role='progressbar' data-transitiongoal='#{totalIndiaCallsStartAccepted}')
                div
                  p Send
                  div
                    .progress.progress_sm(style='width: 76%;')
                      .progress-bar.bg-green(role='progressbar' data-transitiongoal='#{totalUsaCallsStartAccepted}')

            .clearfix
      


        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_title
              h2
                | Last Call Details
                small Users
              ul.nav.navbar-right.panel_toolbox
                li
                  a.collapse-link
                    i.fa.fa-chevron-up
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    i.fa.fa-wrench
                  ul.dropdown-menu(role='menu')
                    li
                      a(href='#') Settings 1
                    li
                      a(href='#') Settings 2
                li
                  a.close-link
                    i.fa.fa-close
              .clearfix
            .x_content
              table#datatable-buttons.table.table-striped.table-bordered
                thead
                  tr
                    th callerId
                    th callReceiverId
                    th startedAt
                    th endedAt
                    th status
                tbody
                  each  bodys in body.calls
                    tr
                      td= bodys.callerId
                      td= bodys.callReceiverId
                      td= new Date(bodys.startedAt * 1 ).toUTCString()
                      td= new Date(bodys.endedAt * 1 ).toUTCString()
                      td= bodys.status


    // /page content
    // footer content
    footer
      .pull-right
        | Gentelella - Bootstrap Admin Template by 
        a(href='https://colorlib.com') Colorlib
      .clearfix
    // /footer content
// jQuery
script(src='/public/vendors/jquery/dist/jquery.min.js')
// Bootstrap
script(src='/public/vendors/bootstrap/dist/js/bootstrap.min.js')
// FastClick
script(src='/public/vendors/fastclick/lib/fastclick.js')
// NProgress
script(src='/public/vendors/nprogress/nprogress.js')
// Chart.js
script(src='/public/vendors/Chart.js/dist/Chart.min.js')
// gauge.js
script(src='/public/vendors/gauge.js/dist/gauge.min.js')
// bootstrap-progressbar
script(src='/public/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js')
// iCheck
script(src='/public/vendors/iCheck/icheck.min.js')
// Skycons
script(src='/public/vendors/skycons/skycons.js')
// Flot
script(src='/public/vendors/Flot/jquery.flot.js')
script(src='/public/vendors/Flot/jquery.flot.pie.js')
script(src='/public/vendors/Flot/jquery.flot.time.js')
script(src='/public/vendors/Flot/jquery.flot.stack.js')
script(src='/public/vendors/Flot/jquery.flot.resize.js')
// Flot plugins
script(src='/public/vendors/flot.orderbars/js/jquery.flot.orderBars.js')
script(src='/public/vendors/flot-spline/js/jquery.flot.spline.min.js')
script(src='/public/vendors/flot.curvedlines/curvedLines.js')
// DateJS
script(src='/public/vendors/DateJS/build/date.js')
// JQVMap
script(src='/public/vendors/jqvmap/dist/jquery.vmap.js')
script(src='/public/vendors/jqvmap/dist/maps/jquery.vmap.world.js')
script(src='/public/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js')
// bootstrap-daterangepicker
script(src='/public/vendors/moment/min/moment.min.js')
script(src='/public/vendors/bootstrap-daterangepicker/daterangepicker.js')
// Custom Theme Scripts
script(src='/public/build/js/custom.min.js')

script(src='/public/vendors/datatables.net/js/jquery.dataTables.min.js')
script(src='/public/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
script(src='/public/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')
script(src='/public/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
script(src='/public/vendors/datatables.net-buttons/js/buttons.flash.min.js')
script(src='/public/vendors/datatables.net-buttons/js/buttons.html5.min.js')
script(src='/public/vendors/datatables.net-buttons/js/buttons.print.min.js')
script(src='/public/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')
script(src='/public/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')
script(src='/public/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')
script(src='/public/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')
script(src='/public/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')

